.add-company-address {
  color: #00a0d2;
  cursor: pointer;
}
.company-address-list .item-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.company-address-list .item-address input {
  width: 100%;
  max-width: 400px;
}
.remove-company-address {
  color: brown;
  cursor: pointer;
}
form table .item-address {
  display: block;
  width: inherit;
}
form table .item-address input {
  width: 90%;
}
