@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption|Ruslan+Display');
@import 'reset.css';
@import 'responsive.css';
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
li,
ol,
a,
em,
img,
strong,
fieldset,
form,
label,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
  background: inherit;
  border: 0;
  outline: 0;
}
p {
  margin-bottom: 0;
}
.dropdown-toggle {
  cursor: pointer;
}
.m-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}
.ajax_add_to_cart {
  background: 0 0;
}
.open {
  font-size: 16px;
  position: absolute;
  z-index: 1000;
  top: 100%;
  right: 0;
  left: auto;
  left: 0;
  display: block;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 209px;
  min-width: 160px;
  margin: 2px 0 0;
  margin-top: 0 !important;
  padding: 0;
  list-style: none;
  text-align: left;
  border: 0;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  border-radius: 4px;
  background-color: #fff;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
a {
  color: #565656;
}
html {
  font-family: 'PT Sans Caption';
}
#main #content-box {
  display: inline-block;
}
main aside.widget-area {
  padding: 0;
}
main aside.widget-area a:hover {
  color: #d63932;
}
/*========================================================
    *   HEADER
    ========================================================*/
.main-wrapper .site-content .kama_breadcrumbs {
  width: 98%;
  margin: auto;
}
.main-wrapper span,
.main-wrapper a,
.main-wrapper a:visited {
  color: #f46d78;
  outline: none;
}
.main-wrapper .menu-bar {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.main-wrapper .menu-bar .site-branding .custom-logo-link {
  line-height: 12px;
  width: auto;
  height: auto;
}
.main-wrapper .menu-bar .site-branding .custom-logo-link img.custom-logo {
  max-width: 400px;
  max-height: 70px;
}
.main-wrapper .menu-bar .site-branding .logo-description {
  font-weight: 20px;
  font-family: 'Ruslan Display';
  margin-left: 10px;
}
.main-wrapper .menu-bar .site-branding .logo-description .site-title {
  color: #f46d78;
}
.main-wrapper .menu-bar .site-branding .logo-description .site-title a {
  font-size: 3em;
  color: #f46d78;
}
.main-wrapper .menu-bar .main-navigation {
  width: auto;
  margin: 0 0.5em;
}
.main-wrapper .menu-bar .main-navigation a.menu-mobile {
  display: none;
}
.main-wrapper .menu-bar .main-navigation .mobile-menu .mobile-menu-title {
  visibility: collapse;
}
.main-wrapper .menu-bar .main-navigation .mobile-menu .mobile-menu-options {
  visibility: collapse;
}
.main-wrapper .menu-bar .main-navigation .mobile-menu .nav-menu .menu-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #b9c2c8;
  border-left: 1px solid #0001;
}
.main-wrapper .menu-bar .main-navigation .mobile-menu .nav-menu .menu-item:first-child {
  border-left: none;
}
.main-wrapper .menu-bar .main-navigation .mobile-menu .nav-menu .menu-item:hover::before {
  content: "";
  position: absolute;
  bottom: 0px;
  display: block;
  background-color: #ced3dc;
  height: 0.28em;
  width: 100%;
  left: 0;
}
.main-wrapper .menu-bar .main-navigation .mobile-menu .nav-menu .menu-item a {
  color: #fff;
  padding: 1em;
}
.main-wrapper .menu-bar .main-navigation .mobile-menu .nav-menu .menu-item .sub-menu .menu-item {
  background-color: #ced3dc;
  border-bottom: 1px solid #0001;
  color: #0f0d21;
}
.main-wrapper .menu-bar .main-navigation .mobile-menu .nav-menu .menu-item .sub-menu .menu-item:hover {
  color: #fff;
}
.main-wrapper .menu-bar .main-navigation .mobile-menu .nav-menu .menu-item .sub-menu .menu-item:hover a {
  color: inherit;
}
.main-wrapper .menu-bar .main-navigation .mobile-menu .nav-menu .menu-item .sub-menu .menu-item:hover a:hover {
  color: #fff;
}
.main-wrapper .menu-bar .main-navigation .mobile-menu .nav-menu .menu-item .sub-menu .menu-item a {
  color: inherit;
}
.main-wrapper .menu-bar .main-navigation .mobile-menu .nav-menu .menu-item .sub-menu .menu-item a:hover {
  color: #fff;
}
.main-wrapper .menu-bar .main-navigation .mobile-menu .nav-menu .menu-item .sub-menu .menu-item:hover::before {
  content: "";
  position: absolute;
  bottom: 0px;
  display: block;
  background-color: #f46d78;
  height: 0.28em;
  width: 50%;
  left: 0;
}
.main-wrapper .menu-bar .pull-right {
  margin-left: 10px;
  /*========================================================
          *    MINI CART
          ========================================================*/
}
.main-wrapper .menu-bar .pull-right .search {
  width: 11em;
  margin-right: 10px;
}
.main-wrapper .menu-bar .pull-right .search form input {
  background: #4e8098;
  color: #ced3dc;
  border-radius: 0.6em;
  width: 100%;
  height: 3em;
}
.main-wrapper .menu-bar .pull-right .site-header-cart {
  border-bottom: 2px solid #fff;
  background: #4e8098;
  color: #ced3dc;
  width: 16em;
  display: block;
}
.main-wrapper .menu-bar .pull-right .site-header-cart:hover li .woocommerce {
  left: 0;
}
.main-wrapper .menu-bar .pull-right .site-header-cart li {
  display: list-item;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.main-wrapper .menu-bar .pull-right .site-header-cart li .cart-contents {
  padding: 1.5em 0.7em;
  display: block;
}
.main-wrapper .menu-bar .pull-right .site-header-cart li .cart-contents span {
  color: #ced3dc;
}
.main-wrapper .menu-bar .pull-right .site-header-cart li .cart-contents .count {
  margin: 0 0.6em ;
}
.main-wrapper .menu-bar .pull-right .site-header-cart li .cart-contents .count::after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 1.2em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 1em;
  float: right;
  content: "\f218";
}
.main-wrapper .menu-bar .pull-right .site-header-cart li .woocommerce {
  background: #ced3dc;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 999999;
  font-size: .875em;
  left: -9999999em;
  display: block;
}
.main-wrapper .menu-bar .pull-right .site-header-cart li .woocommerce .widget_shopping_cart_content .woocommerce-mini-cart__empty-message {
  display: none;
}
.main-wrapper .menu-bar .pull-right .site-header-cart li .woocommerce .widget_shopping_cart_content .cart_list {
  max-height: 15em;
  overflow-y: auto;
}
.main-wrapper .menu-bar .pull-right .site-header-cart li .woocommerce .widget_shopping_cart_content .cart_list .mini_cart_item {
  padding: 0.5em;
  background: #ced3dc;
  text-align: center;
}
.main-wrapper .menu-bar .pull-right .site-header-cart li .woocommerce .widget_shopping_cart_content .cart_list .mini_cart_item:nth-child(even) {
  background: #4e8098;
  color: #ced3dc;
}
.main-wrapper .menu-bar .pull-right .site-header-cart li .woocommerce .widget_shopping_cart_content .cart_list .mini_cart_item:nth-child(even) a {
  color: #ced3dc;
}
.main-wrapper .menu-bar .pull-right .site-header-cart li .woocommerce .widget_shopping_cart_content .cart_list .mini_cart_item .remove {
  color: #f46d78 !important;
  position: relative;
  float: left;
}
.main-wrapper .menu-bar .pull-right .site-header-cart li .woocommerce .widget_shopping_cart_content .cart_list .mini_cart_item a {
  color: #4e8098;
}
.main-wrapper .menu-bar .pull-right .site-header-cart li .woocommerce .widget_shopping_cart_content .total {
  padding: 1em;
  text-align: center;
}
.main-wrapper .menu-bar .pull-right .site-header-cart li .woocommerce .widget_shopping_cart_content .total strong {
  color: #f46d78;
}
.main-wrapper .menu-bar .pull-right .site-header-cart li .woocommerce .widget_shopping_cart_content .buttons {
  display: block;
  text-align: center;
  padding: 1em;
}
.main-wrapper .menu-bar .pull-right .site-header-cart li .woocommerce .widget_shopping_cart_content .buttons .button {
  background: #4e8098;
  color: #ced3dc;
  overflow: hidden;
  display: block;
  width: auto;
  padding: 1em;
  text-align: center;
}
/*========================================================
    *    CONTENT
    ========================================================*/
.content-area .site-main .woocommerce ul.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.content-area .site-main .woocommerce ul.products .product {
  max-width: 250px;
  width: auto;
  margin-right: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}
.content-area .site-main .woocommerce ul.products .product a img {
  margin: 0;
}
.content-area .site-main .woocommerce ul.products .product:hover .attribute-Color {
  opacity: 1;
  -webkit-transition: .3s;
  transition: .3s;
  visibility: visible;
}
.content-area .site-main .woocommerce ul.products .product:hover .shop_button .product_type_simple,
.content-area .site-main .woocommerce ul.products .product:hover .shop_button .product_type_variable {
  opacity: 1;
  display: block;
  margin: 0;
  padding: 0;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  color: #f46d78;
  background: 0 0;
}
.content-area .site-main .woocommerce ul.products .product:hover .shop_button .price {
  display: none;
}
.content-area .site-main .woocommerce ul.products .product:hover .star-rating {
  display: block;
}
.content-area .site-main .woocommerce ul.products .product .attribute-Color {
  opacity: 0;
  padding: 0.5em;
  height: 100%;
  position: absolute;
  background-color: #fff;
  top: 0;
  width: 10em;
  left: -10em;
  -webkit-transition: .15s;
  transition: .15s;
  visibility: collapse;
}
.content-area .site-main .woocommerce ul.products .product .star-rating {
  position: absolute;
  left: 1em;
  top: 1em;
  display: none;
}
.content-area .site-main .woocommerce ul.products .product .shop_button {
  overflow: hidden;
  height: 1.5em;
}
.content-area .site-main .woocommerce ul.products .product .shop_button .product_type_simple,
.content-area .site-main .woocommerce ul.products .product .shop_button .product_type_variable {
  opacity: 1;
  display: none;
  margin: 0;
}
.content-area .site-main .woocommerce ul.products .product .carousel .carousel-inner .onsale {
  border-radius: 1px;
  margin: 0;
  background: #f46d78;
  color: #fff;
}
.content-area .site-main .woocommerce ul.products .product .carousel .carousel-control-prev,
.content-area .site-main .woocommerce ul.products .product .carousel .carousel-control-next {
  display: none;
}
.content-area .site-main .woocommerce ul.products .product .woocommerce-loop-product__title {
  overflow: hidden;
  max-width: 100%;
}
.content-area .site-main .woocommerce ul.products .product .woocommerce-loop-product__title a {
  color: #4e8098;
}
.content-area .site-main .woocommerce ul.products .product .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #757575;
}
.content-area .site-main .woocommerce ul.products .product .price ins {
  margin-left: 10px;
}
.content-area .site-main .woocommerce ul.products .product .price ins span {
  font-weight: 400;
  color: #f46d78;
  font-size: 1.2em;
}
.content-area .site-main .woocommerce ul.products .product .price del .woocommerce-Price-amount {
  font-weight: 400;
  color: #f46d78;
  font-size: 1em;
}
.content-area .site-main .woocommerce ul.products .product .price .woocommerce-Price-amount {
  font-size: 1.2em;
  font-weight: 400;
}
.carousel .carousel-control-next,
.carousel .carousel-control-prev {
  cursor: pointer;
}
.site-header {
  background-color: #dbd3d8;
}
.site-header .top-bar {
  background-color: #dbd3d8;
  padding: 0.5em 0;
  margin: auto;
  width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.site-header .top-bar .head-option {
  background-color: inherit;
}
.site-header .top-bar .head-option .info {
  margin-left: 10px;
}
.site-header .top-bar .head-option .info .phone-number:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f098";
}
.site-header .top-bar .head-option .info .email {
  color: #4e8098;
  margin-left: 20px;
}
.site-header .top-bar .head-option .info .email:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f0e0";
}
.site-header .top-bar .head-option .info .email a {
  color: inherit;
}
.site-header .top-bar .head-option .currency {
  margin-left: 10px;
  position: relative;
  display: block;
}
.site-header .top-bar .head-option .currency .dropdown-toggle .dropdown-menu {
  margin: 0;
  border: 0;
}
.site-header .top-bar .head-option .currency .dropdown-toggle .dropdown-menu li {
  margin: 0;
  padding-left: 10px;
}
.site-header .top-bar .head-option .location {
  position: relative;
  margin-left: 10px;
}
.site-header .top-bar .head-option .social {
  margin-left: 10px;
}
ul.social-icon {
  padding-right: 20px;
  text-align: right;
}
ul.social-icon li {
  display: inline-block;
  padding-right: 10px;
}
.wrapper .site-header .menu-bar {
  background: #f0d879;
}
::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 2px;
  border-color: #777;
  background-color: #222;
}
::-webkit-scrollbar {
  display: block;
  width: 12px;
  overflow: auto;
}
/*========================================================
    *  slider
    ========================================================*/
.owl-carousel.owl-theme.owl-loaded.owl-drag:hover .owl-nav div {
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  opacity: 1;
}
.owl-carousel.owl-theme.owl-loaded.owl-drag .owl-nav {
  margin-right: 0;
  position: absolute;
  top: 50%;
  right: 5px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.owl-carousel.owl-theme.owl-loaded.owl-drag .owl-nav div {
  text-align: center;
  vertical-align: baseline;
  color: #fff;
  border: 1px solid #ffffff;
  width: 50px;
  height: 50px;
  opacity: 0.3;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  background: rgba(201, 201, 201, 0.75);
}
.owl-carousel.owl-theme.owl-loaded.owl-drag .owl-nav div:hover {
  border: 1px solid #000000;
  background: #000;
}
.owl-nav div {
  position: relative;
}
.owl-nav div .carousel-control-prev,
.owl-nav div .carousel-control-next {
  width: 50px;
}
.owl-nav div .carousel-control-prev span,
.owl-nav div .carousel-control-next span {
  position: relative;
  left: 10%;
}
.owl-carousel .owl-stage-outer .owl-stage {
  overflow: hidden;
  position: relative;
  max-height: 700px;
}
.owl-carousel .owl-stage-outer .owl-stage .owl-item .item li {
  margin-bottom: 5px;
}
.owl-carousel .owl-stage-outer .owl-stage .owl-item .item li .carousel .carousel-inner .carousel-item a span {
  border-radius: 12px;
  display: none;
}
.owl-carousel .owl-stage-outer .owl-stage .owl-item .item li .star-rating {
  display: none;
}
.owl-carousel .owl-stage-outer .owl-stage .owl-item .item li .carousel-control-prev,
.owl-carousel .owl-stage-outer .owl-stage .owl-item .item li .carousel-control-next {
  display: none;
}
.owl-carousel .owl-stage-outer .owl-stage .owl-item .item li .woocommerce-loop-product__title {
  display: none;
}
.owl-carousel .owl-stage-outer .owl-stage .owl-item .item li .price {
  display: none;
}
.owl-carousel .owl-stage-outer .owl-stage .owl-item .item li a.button {
  display: none;
  visibility: collapse;
}
.owl-carousel .owl-stage-outer .owl-stage .owl-item .item li div[class*="attribute-"] {
  display: none;
}
.con {
  overflow: hidden;
  position: relative;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #b93;
}
.con .item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 50%;
  overflow: hidden;
  height: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
  margin: 5px;
  padding: 5px;
  background: #aa6;
  word-wrap: break-word;
}
.con .item img {
  margin: auto;
  max-width: 150px;
  max-height: 150px;
}
.container {
  width: 98%;
  max-width: none;
  margin: auto;
  padding: 0;
}
footer {
  padding: 5px;
  background: #6d6d6d;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer *,
footer *:visited,
footer *:hover {
  color: #F46D78;
  text-decoration: none;
}
footer a:hover {
  -webkit-transition: .2s;
  transition: .2s;
  color: #ced3dc;
}
footer .site-info .ABOUT {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: stre;
      -ms-flex-align: stre;
          align-items: stre;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
footer .site-info .ABOUT section {
  padding: 5px;
  margin-right: 10px;
}
footer .site-info .ABOUT section h5 {
  margin: 0 0 12px;
  display: inline-block;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  padding-bottom: 7px;
  color: #eeeeee;
}
footer .site-info .ABOUT section a {
  color: #F46D78;
}
footer .site-info .ABOUT section a:hover {
  color: #fff;
}
/*========================================================
  *  Sidebar
========================================================*/
.left-sidebar .content-ar {
  width: 73.9130434783%;
  float: right;
  margin-right: 0;
}
.right-sidebar .content-ar {
  width: 73.9130434783%;
  float: left;
  margin-right: 4.347826087%;
}
.storefront-full-width-content .content-ar {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
.left-sidebar .widget-area {
  width: 21.7391304348%;
  float: left;
  margin-right: 4.347826087%;
}
.right-sidebar .widget-area {
  width: 21.7391304348%;
  float: right;
  margin-left: 0;
}
/*========================================================
  *  [MENU]  soure : https://github.com/marioloncarek/megamenu-js
========================================================*/
/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Body - not related to megamenu
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  font-family: 'Source Sans Pro', sans-serif;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
a {
  color: #333;
}
.description {
  width: 80%;
  margin: 50px auto;
}
/* ––––––––––––––––––––––––––––––––––––––––––––––––––
megamenu.js STYLE STARTS HERE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Screen style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.menu-container {
  width: 80%;
  margin: 0 auto;
  background: #e9e9e9;
}
.menu-mobile {
  display: none;
  padding: 20px;
}
.menu-mobile:after {
  content: "\f394";
  font-family: "Ionicons";
  font-size: 2.5rem;
  padding: 0;
  float: right;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
}
.menu-dropdown-icon:before {
  content: "\f489";
  font-family: "Ionicons";
  display: none;
  cursor: pointer;
  float: right;
  padding: 1.5em 2em;
  background: #fff;
  color: #333;
}
.menu > ul {
  margin: 0 auto;
  width: 100%;
  list-style: none;
  padding: 0;
  position: relative;
  /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.menu > ul:before,
.menu > ul:after {
  content: "";
  display: table;
}
.menu > ul:after {
  clear: both;
}
.menu > ul > li {
  float: left;
  background: #e9e9e9;
  padding: 0;
  margin: 0;
}
.menu > ul > li a {
  text-decoration: none;
  padding: 1.5em 1.5em;
  display: block;
}
.menu > ul > li:hover {
  background: #f0f0f0;
}
.menu > ul > li > ul {
  display: none;
  width: 100%;
  background: #f0f0f0;
  padding: 20px;
  position: absolute;
  z-index: 99;
  left: 0;
  margin: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.menu > ul > li > ul:before,
.menu > ul > li > ul:after {
  content: "";
  display: table;
}
.menu > ul > li > ul:after {
  clear: both;
}
.menu > ul > li > ul > li {
  margin: 0;
  padding-bottom: 0;
  list-style: none;
  width: 25%;
  background: none;
  float: left;
}
.menu > ul > li > ul > li a {
  color: #777;
  padding: .2em 0;
  width: 95%;
  display: block;
  border-bottom: 1px solid #ccc;
}
.menu > ul > li > ul > li > ul {
  display: block;
  padding: 0;
  margin: 10px 0 0;
  list-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.menu > ul > li > ul > li > ul:before,
.menu > ul > li > ul > li > ul:after {
  content: "";
  display: table;
}
.menu > ul > li > ul > li > ul:after {
  clear: both;
}
.menu > ul > li > ul > li > ul > li {
  float: left;
  width: 100%;
  padding: 10px 0;
  margin: 0;
  font-size: .8em;
}
.menu > ul > li > ul > li > ul > li a {
  border: 0;
}
.menu > ul > li > ul.normal-sub {
  width: 300px;
  left: auto;
  padding: 10px 20px;
}
.menu > ul > li > ul.normal-sub > li {
  width: 100%;
}
.menu > ul > li > ul.normal-sub > li a {
  border: 0;
  padding: 1em 0;
}
/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media only screen and (max-width: 959px) {
  .menu-container {
    width: 100%;
  }
  .menu-mobile {
    display: block;
  }
  .menu-dropdown-icon:before {
    display: block;
  }
  .menu > ul {
    display: none;
  }
  .menu > ul > li {
    width: 100%;
    float: none;
    display: block;
  }
  .menu > ul > li a {
    padding: 1.5em;
    width: 100%;
    display: block;
  }
  .menu > ul > li > ul {
    position: relative;
  }
  .menu > ul > li > ul.normal-sub {
    width: 100%;
  }
  .menu > ul > li > ul > li {
    float: none;
    width: 100%;
    margin-top: 20px;
  }
  .menu > ul > li > ul > li:first-child {
    margin: 0;
  }
  .menu > ul > li > ul > li > ul {
    position: relative;
  }
  .menu > ul > li > ul > li > ul > li {
    float: none;
  }
  .menu .show-on-mobile {
    display: block;
  }
}
/*========================================================
  *  [ / MENU]
========================================================*/
/*========================================================
  *  style Browser
========================================================*/
::-moz-selection {
  background: rgba(0, 0, 0, 0.1);
}
::selection {
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ced3dc;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #ced3dc;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #ced3dc;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #ced3dc;
}
/*========================================================
    *   ELEMENTS UI
    ========================================================*/
.dropdown-toggle {
  color: #f46d78 !important;
}
.dropdown-toggle .dropdown-menu {
  color: inherit;
  padding: 0;
  background: inherit;
}
.dropdown-toggle .dropdown-menu li {
  padding: 0.5em;
  color: #4e8098;
}
.dropdown-toggle .dropdown-menu li:hover {
  color: inherit;
}
.dropdown-toggle .dropdown-menu li:nth-child(even) {
  background: #4e8098;
  color: #ced3dc;
}
.dropdown-toggle .dropdown-menu li:nth-child(even):hover {
  color: inherit;
}
.dropdown-toggle .dropdown-menu::before {
  content: "";
  position: absolute;
  display: block;
  background-color: #ced3dc;
  height: 0.28em;
  width: 100%;
  left: 0;
  border-top: 2px solid #fcf4d9;
}
.dropdown-toggle:hover .dropdown-menu {
  display: block;
}
